
.ant-menu-item {
    margin-bottom: 40px !important;
    margin-top: 20px !important;
}


.footer-container {
    display: flex;
    justify-content: center;
    .contact {
        margin-left: 10px;
    }
}