.packages-container {
    .title-container {
        display: flex;
        font-size: 22px;
        font-weight: 600;
        justify-content: space-between;
    }
    .packages-list {
        .no-packages-container {
            text-align: center;
            font-size: 18px;
        }
    }
}