.packages-container {
    .title-container {
        font-size: 24px;
        font-weight: 600;
    }
    .packages-list {
        .no-packages-container {
            text-align: center;
            font-size: 18px;
        }
    }
}