.accent-color-picker-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;

    .accent-color {
        cursor: pointer;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        opacity: 75%;
        box-sizing: border-box;
        transition: border 0.2s ease;
    }
}